<h1>Profil de <%= @user.pseudo %></h1>

<dd>
  <dt>Description</dt>
  <dl><%= @user.detail.description %></dl>
</dd>

<% if @interest %>
<dd>
  <dt>Statut</dt>
  <dl><%= @interest.couple_status %></dl>
</dd>
<dd>
  <dt>Recherche</dt>
  <dl><%= @interest.my_research %></dl>
</dd>
<% end %>

<% unless @user.events.empty? %>
<h3>Les événements de <%= @user.pseudo %></h3>
  <dd>
    <dt><%= @user.events.first.event_name %></dt>
    <dl><%= @user.events.first.detail.description %></dl>
  </dd>
<% end %>

<%= link_to 'Back', users_path  %>
