<h1>Profil de <%= @user.pseudo %></h1>

<dd>
  <dt>Description</dt>
  <dl><%= @user.detail.description %></dl>
</dd>

<% if @interest %>
<dd>
  <dt>Statut</dt>
  <dl><%= @interest.couple_status %></dl>
</dd>
<dd>
  <dt>Recherche</dt>
  <dl><%= @interest.my_research %></dl>
</dd>
<% end %>

<% unless @user.events.empty? %>
<h3>Les événements de <%= @user.pseudo %></h3>
  <dd>
    <dt><%= @user.events.first.event_name %></dt>
    <dl><%= @user.events.first.detail.description %></dl>
  </dd>
<% end %>

<dd>
  <dt>Followers</dt>
  <dl>Suit <%= @user.following.count %></dl>
  <dl>Suivi par <%= @user.followers.count %></dl>
</dd>
  <% unless current_user == @user %>
    <% if current_user.following?(@user) %>
      <%= render 'unfollow' %>
    <% else %>

      <%= render 'follow' %>
    <% end %>
  <% end %>
<br>

<%= link_to 'Back', users_path  %>
