<h1>Liste des Assos</h1>
<br>
<% if user_signed_in? %>
  <%= link_to 'Mon Dashboard', user_path(current_user) %><br>
  <%= link_to 'Voir les utilisateurs', users_path %>

<% end %>
<br>
<% @assos.each do |asso| %>
  <dl>
    <dt>Nom : <%= asso.name %></dt>
    <dd>Description : <%= asso.detail.description %></dd>

    <dt>Referent : <%= asso.user.pseudo %></dt>
    <dd>Description referent: <%= asso.user.detail.description %></dd>
    En savoir plus sur l'asso <br>

    <% unless asso.events.empty? %>
    Prochains événements
    <% end %>
    <% asso.events.each do |event| %>
      <dt><%= event.event_name %></dt>
      <dd>Description : <%= event.detail.description %></dd>
    <% end %>
  </dl>
  <hr>
<% end %>
